# Binaries
/hactl
/hactl.exe

# Go build
/bin/
/dist/

# Cache & instance data
cache/
*.db

# Environment
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Test output
coverage.out
coverage.html
testdata/tmp
unit_test_output.txt
integration_test_output.txt
test_output.log
homeassistant

# Backup directory
backups/
